{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block styles %}

{% if config and config.login_image %}
<style>
	body {
        background-image: url('{{config.login_image.url}}');
		background-repeat: no-repeat;
		background-size: 100% 100%;
    }
</style>
{% endif %}
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4 offset-lg-8">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h5>Login</h5>
						<hr>
					</div>
					<div class="card-text">	
						<form id="loginForm" method="post">
							{% csrf_token %}						
							<div class="row">
								<div class="col">
									{{ form.username.label_tag }}
									{{ form.username }}
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">
									{{ form.password.label_tag }}
									{{ form.password }}
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col text-center">
									<button type="submit" class="btn btn-primary">Acceder</button>
									<br>
									<a href="{% url 'signup' %}" class="btn btn-link">o crea una nueva cuenta</a>
								</div>
							</div>
							
							<div class="row">
								<div class="col text-center">
									<a class="social social-google" style="text-decoration:none;" href="{% url 'social:begin' 'google-oauth2' %}">
										<i class="fab fa-google"></i>
										Login con Google</a>
									<br>
									<a class="social social-facebook" style="text-decoration:none;"  href="{% url 'social:begin' 'facebook' %}">
										<i class="fab fa-facebook"></i>
										Login con Facebook</a>
									<br>									
								</div>
							</div>
						</form>
						<br>
						{% if form.errors %}
						<p>Your username and password didn't match. Please try again.</p>
						{% endif %}

						{% if next %}
								{% if user.is_authenticated %}
								<p>Your account doesn't have access to this page. To proceed,
								please login with an account that has access.</p>
								{% else %}
								<p>Please login to see this page.</p>
								{% endif %}
						{% endif %}
									
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}