@font-face {
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
  }

html, body, .container-fluid, .row-main
{
  height: auto;
  min-height: 1024px;
  font-family: "Open-Sans";
}

textarea {
  resize: none;
}

p {
  word-wrap: break-word;
}
.container-fluid
{
  /* background-color: #dc3545; */
}

#lugares_encontrados
{
  padding: 1em;
}

h1, h2, h3, h4, h5
{
  margin: 0;
  padding: 0;
}

section
{
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
    /*padding-top: 3em;*/
    /*width: 100%;*/
} 

.divider
{
  border: 1px solid #dc3545;
  margin: 10px 0; 
}

hr.divider
{
    border: 2px solid #17a2b8;
    margin-bottom: 2em;
    width: 80px;            
}        

hr.divider.red
{
    border: 2px solid #dc3545;                        
}

.navbar-dark .navbar-nav .nav-link
{
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active
{          
  border-bottom: 2px solid #3ca3b8;
}

.carousel
{
  width: 100%;
  height: 400px;
}
.carousel img
{          
  height: 400px;
  width: 100%;
}

.caja
{
  border: 1px solid gray;
  /* border: 1px solid #f2f2f1; */
  padding:1em;
}

.caja a
{
  text-decoration: none;
}

.caja img
{
  width: 100%;
}

.caja p
{
  word-wrap: break-word;
}

.etiqueta
{
  color: white;
  width: 100%;
  display: inline-block;
  background: #343a40;
  padding: 1em;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
}

.sombra
{
  text-shadow: 2px 2px #5d6165
}

img
{
  width: 100%;
}

.gallery .fotos
{
  /* max-height: 400px;
  overflow: scroll;
  overflow-x: hidden; */
}

.gallery img
{
  height: 130px;          
}

img.img-main
{
  height: 400px;
  /*min-height: 300px;*/
}

.gallery .delete
{
  position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    text-decoration: none;
    opacity: .75;
}

.gallery .main
{
  position: absolute;
  right: 20px;
  color: white;     
  text-decoration: none;
  opacity: .75;
}

.table-fixed thead {
  /*width: 97%;*/
}
.table-fixed tbody {
  height: 450px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;

}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  height: 100px;
}
.table-fixed thead > tr> th {  
  height: 50px;
}

.tab-content
{
  padding: 1em;
}

.linear-progress-material
{
  display: none;
}

.linear-progress-material.active
{
  display: block;
}

.zone-item
{
  height: 200px;
} 
.videoWrapper
{
  position: relative;
    padding-bottom: 56.25%;    
    height: 0;
    margin-top: -100px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.sidebar
{
  background: #343a40!important;
  color: white;
  margin: 0.4em;
  text-align: center;
}

.sidebar.left
{ 
  text-align: left;
}

.sidebar .list-item
{
  color: white;
  display: inline-block;
  font-size: 1.3em;
  /*padding: 0.2em;*/
  /*text-align: center;*/
  text-decoration: none;
  /*border-bottom: 1px solid gray;*/
}

.caja
{
  background-color: white;
  height: 280px;
  min-height: 280px;
  border-radius: 10px;
}

.caja img
{
  height: 180px;
  min-height: 180px;
}

.starrr span
{
  font-size: 1.5em;
  color: green;
}

.starrr {
  display: inline-block; 
}
.starrr a {
  font-size: 16px;
  padding: 0 1px;
  cursor: pointer;
  color: #FFD119;
  text-decoration: none; 
}
.title-menu
{
  font-family: 'Clicker Script', cursive;
  padding: 0.5em;
}