<!doctype html>
<html lang="es">
  <head>
    <title>PBUC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Turismo Acapulco 2018"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
    
    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
    <link rel="stylesheet" href="{% static 'css/lity.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  
    {% block styles %}

    {% endblock %}

  </head>
  <body>

{% block header %}
<div class="container-fluid">

  <div class="row">
    <div class="col-4 col-lg-3">
      <a href="/" style="display: inline-block; margin: 10px 0;">      
        <img src="{% static '/img/logo.svg' %}" alt="Logo" style="width:auto;height:70px;">
      </a>
    </div>
    <div class="col-8 col-lg-6">
      <br>
      {% if buscar %}
      <div class="row">
        <div class="col">       
          <div class="linear-progress-material small">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
          </div>          
          <div class="input-group mb-3">
            <input type="text" id="busqueda" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-danger buscar-btn" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <br>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-12 col-lg-3 text-center d-none d-lg-block">
      {% if config %}
      <br>    
        {% if config.facebook %}  
        <a href="{{ config.facebook }}" class="btn btn-lg btn-danger" target="_blank" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        {% endif %}
        {% if config.twitter %}  
        <a href="{{ config.twitter }}" class="btn btn-lg btn-danger" target="_blank" title="Twiter">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
        {% if config.instagram %}  
        <a href="{{ config.instagram }}" class="btn btn-lg btn-danger" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>      
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block navbar %}
    
  <nav id="header" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown d-block d-sm-block d-md-none">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonZona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Zona:
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonZona">
            <a class="dropdown-item zona" zone_id="" href="#">Todas</a>                        
            {% for zone in zonas %}              
            <a class="dropdown-item zona" zone_id="{{zone.id}}" href="#">{{zone.name}}</a>            
            {% endfor %}            
          </div>
        </div>
        <div class="dropdown d-block d-sm-block d-md-none">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCategoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categoria:
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonCategoria">
            {% block menucategorias %}
            {% endblock %}
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            
            <li class="nav-item">
              <a class="nav-link selected" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>       

            {% for zone in zonas %}              
            <li class="nav-item d-none d-sm-none d-md-block">
              <a class="nav-link zona" zone_id="{{zone.id}}" href="#">{{zone.name}}</a>
            </li>
            {% endfor %}            

            <!-- <li class="nav-item">
              <a href="{% url 'carrito' %}" class="nav-link carrito">
                <i class="fas fa-shopping-cart"></i>
                Carrito
                <span class="badge badge-primary">{{ request.session.numero }}</span>
              </a>
            </li>
             -->
            {% if user.is_authenticated %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <!--<a class="dropdown-item" href="{% url 'ver_categorias' %}">Categorias</a>
                  <a class="dropdown-item" href="{% url 'ver_lugares' %}">Lugares</a>
                  <a class="dropdown-item" href="{% url 'ver_productos' %}">Productos</a> -->
                <a class="dropdown-item" href="{% url 'ver_pedidos' %}">Mis Pedidos</a>
                {% if request.user.is_superuser and request.user.is_staff %}
                <div class="dropdown-divider"></div>                
                <!-- <a class="dropdown-item" href="/admin" target="_blank">Administrar</a> -->
                
                <a class="dropdown-item" href="/usuarios">Usuarios</a>
                <a class="dropdown-item" href="/categoriaslugares">Categorias Generales</a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a class="dropdown-item" href="/lugares">Lugares</a>
                <a class="dropdown-item" href="/productos">Productos</a>
                <a class="dropdown-item" href="/categorias">Categorias</a>
                <a class="dropdown-item" href="/cobranza">Cobranza</a>
                <a class="dropdown-item" href="/config">Configuración</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Salir</a>
              </div>
            </li>
            
            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="/login">Acceder</a>
            </li>

            {% endif %}
          </ul>
          
        </div>
  </nav>

  {% endblock %}

  {% block content %}  
  <div class="container-fluid">
      
    <div class="row row-main">
      <div class="col-3 sidebar">      
          {% for row in data %}            
          <a href="#" category_id="{{row.id}}" class="category-item categoria">
            {{ row.name }}
          </a>
          <hr>
          {% endfor %}            
      </div>
      <div class="col-8 contenido">
        <div class="row" id="lugares_encontrados"></div>
      </div>    
    </div>

  </div>
  {% endblock %} 
    
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-table.js' %}"></script>
  <script src="{% static 'js/bootstrap-table-export.js' %}"></script>
  <script src="{% static 'js/tableExport.js' %}"></script>
  <script src="{% static 'js/lity.min.js' %}"></script>
  <script src="{% static 'js/starrr.js' %}"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>

  <script>
  
  $("a.picture, a.map").on("click", function(e){
    e.preventDefault();
    let url = $(this).attr("href");
    lity(url);
  });

  $("input,select,textarea").not("[type=checkbox]").addClass("form-control");
  $('[data-toggle="tooltip"]').tooltip(); 

  $('.datetimepicker1').datetimepicker({
    icons: {
            time: "far fa-clock",
            date: "far fa-calendar",
            up: "fas fa-angle-up",
            down: "fas fa-angle-down"
        }
  });

  </script>  

  {% block scripts %}

  {% endblock %}

  </body>
</html>
