{% extends 'web/__base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

{# {{ request.session.carrito }} #}
<!-- {{ config.conekta_public }} -->
<br>
<!-- {{ configAdmin.conekta_public }} -->
<div class="container-fluid">
<br>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="card-title"><h5>Confirmar Reservación: ({{ invitados }} Invitados)</h5></div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">

						
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Lugar</th>
									<th>Producto</th>					
									<th>Cantidad</th>
									<th>Precio Unitario</th>
									<th>Subtotal</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% if not empty %}
								{% for prod in productos %}
								<tr>
									<td>
									{% if prod.photo %}
										<a href="{{ prod.photo.url }}" data-lity data-toggle="tooltip" data-placement="right" title="Da clic para ampliar">
											<img src="{{ prod.photo.url }}" alt="{{ prod.name }}" style="width: 100px;" >
										</a>
									{% else %}						
										<img src="{% static 'img/default.png' %}" alt="Imagen" style="width: 100px;">
									{% endif %}
									</td>
									<td><a href="{% url 'lugar' prod.lugar.id %}">{{ prod.lugar }}</a></td>
									<td>{{ prod.name }} <b> [ {{ prod.category }} ] </b> <br> <small>{{ prod.description }} </small></td>
									
									<td>
									
									<form action="" method="post">
										{% csrf_token %}
										<input type="number" href="{% url 'qty_carrito' prod.id %}" name="cantidad_carrito" class="cantidad_carrito" min="0" value="{{ prod.cantidad_carrito }}">			
									</form>
				
									</td>					
									<td>${{ prod.price_txt }}</td>
									<td><b class="subtotal">${{ prod.subtotal_txt }}</b></td>
									<td>
										<a href="{% url 'quitar_carrito' prod.id %}" class="btn btn-light text-danger quitar_carrito" title="Quitar del Carrito de compra" data-toggle="tooltip" data-placement="left">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
								{% endfor %}	
								
								{% else %}
				
								<tr>
									<td>Aun no has agregado nada a tu carrito.</td>					
								</tr>
				
								{% endif %}
				
							</tbody>
						</table>

						</div>	
					
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-12 col-md-6">
						<a href="{% url 'index' %}" class="btn btn-info">Regresar al Inicio</a>
					</div>
					<div class="col-12 col-md-6">						
						<div class="row">
							<div class="col-md-9 col-6 text-right text-muted">				
								<h5>Subtotal: </h5>
							</div>
							<div class="col-md-3 col-6 text-left">				
								<h4><span class="txt_subtotal">${{ subtotal|floatformat:2|intcomma }}</span> </h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 col-6 text-right text-muted">				
								{% load humanize %}
								<h5>Descuento:</h5>
							</div>
							<div class="col-md-3 col-6 text-left">
								{% if cupon > 0 %}
								<h4><span class="txt_cupon">-${{cupon|floatformat:2|intcomma }}</span> </h4>
								{% else %}
								<h4><span class="txt_cupon">${{cupon|floatformat:2|intcomma }}</span> </h4>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 col-6 text-right text-muted">				
								<h5>Total: </h5>
							</div>
							<div class="col-md-3 col-6 text-left">				
								<h4><span class="txt_total">${{ total|floatformat:2|intcomma }}</span> </h4>
							</div>
						</div>
						<hr>								
					</div>
				</div>
				<div class="row">					
					<div class="col-md-2 offset-md-7 col-12">Metodo de Pago:</div>
					<div class="col-md-3 col-12">								
						<select name="metodopago" id="metodopago" class="form-control">
							<!--<option value="1">Pago en Oxxo</option>-->
							<option value="">Selecciona un método de pago</option>
							<option value="2">Pago con Tarjeta de Crédito</option>
						</select>				
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col text-right">
						<a href="{% url 'comprar_carrito' %}" class="disabled btn btn-danger btn-lg confirmar"> CONFIRMAR COMPRA </a>
					</div>
				</div>
				<br><br>
				
				<div class="modal modal-tarjeta" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title">Datos de la Tarjeta</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						<form action="" method="POST" id="card-form" enctype="multipart/form-data">
							{% csrf_token %}
							<span class="card-errors"></span>
							<div class="row">
								<div class="col">			    
								Nombre del tarjetahabiente			    
								<input type="text" size="20" data-conekta="card[name]" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col">		  		
								Número de tarjeta de crédito		    
								<input type="text" size="20" data-conekta="card[number]" class="form-control">
								</div>
							</div>
							<br>
							<div class="row">		  	
								<div class="col-4">
									CVC
								<input type="text" size="4" data-conekta="card[cvc]" class="form-control">
								</div>
								<div class="col-8">
									<div class="row">
										<div class="col">			  			
										Fecha de expiración
										</div>
									</div>
									<div class="row">
										<div class="col">
										<input type="text" size="2" data-conekta="card[exp_month]" class="form-control" placeholder="MM">			  			
										</div>
										<div class="col">
										<input type="text" size="4" data-conekta="card[exp_year]" class="form-control" placeholder="AAAA">			  			
										</div>
									</div>
								</div>			  
							</div>
							<hr>
							<div class="row">
								<div class="col text-right">
									<button type="submit" class="btn btn-success">PAGAR</button>		  		
								</div>
							</div>
						</form>
						</div>      
					</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

<script>
	
	var registrar_compra = function()
	{
		let url = $(".confirmar").attr("href");
		let token_id = $("#conektaTokenId").val()
		// let token_id_admin = $("#conektaTokenIdAdmin").val()
			
		$.getJSON(url, {"conektaTokenId" : token_id}, function(res){
			console.log(res);
			if(res.success)
			{
				alert("Se ha realizado la compra")
				location.href = "/pedidos/" + res.id
			}
			else
			{
				if (res.error_json != undefined && res.error_json.details[0] != undefined)
				{
					alert(res.error_json.details[0].message);					
				}
				else if(res.message)
				{
					alert(res.message);				
				}
				else
				{
					alert("Ocurrio un problema al realizar la compra, intentelo de nuevo más tarde");
				}
				
				location.reload();
			}
		});
		
	}

	// var conektaSuccessResponseHandlerAdmin = function(token) {
	// 	var $form = $("#card-form");		
	// 	$form.append($('<input type="hidden" name="conektaTokenIdAdmin" id="conektaTokenIdAdmin">').val(token.id));
		
	// };

	// var conektaNewToken = function()
	// {
	// 	var $form = $("#card-form");
	// 	Conekta.setPublicKey('{{ configAdmin.conekta_public }}');
	// 	Conekta.Token.create($form, conektaSuccessResponseHandlerAdmin, conektaErrorResponseHandler);
	// }

	var conektaSuccessResponseHandler = function(token) {
		var $form = $("#card-form");
		//Inserta el token_id en la forma para que se envíe al servidor
		$form.append($('<input type="hidden" name="conektaTokenId" id="conektaTokenId">').val(token.id));
		// conektaNewToken();
		registrar_compra();
		
	};
	var conektaErrorResponseHandler = function(response) {
		var $form = $("#card-form");
		$form.find(".card-errors").text(response.message_to_purchaser);
		$form.find("button").prop("disabled", false);
	};

	
	$("#card-form").submit(function(event) {
		event.preventDefault()
		var $form = $(this);
		 
		$form.find("button").prop("disabled", true);
		Conekta.setPublicKey('{{ config.conekta_public }}');
		Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
		
		return false;
	});
	

	let actualizar_carrito = function(qty)
	{
		$(".carrito .badge").text(qty);
	}

	priceFormatter = function(value) {    
	    return Number(value).toLocaleString('es-MX', { style: 'currency', currency: 'MXN'});
	}

	$("#metodopago").on("change", function(){
		let val = $(this).val()
		if (val != "")
		{
			$(".confirmar").removeClass("disabled");
		}
		else
		{
			$(".confirmar").addClass("disabled");			
		}
	})

	$(".confirmar").on("click", function(e){
		e.preventDefault()
		$(".modal-tarjeta").modal("show");		
	});

	$(".quitar_carrito").on("click", function(e){
		e.preventDefault()
		let row = $(this).parents("tr");
		let url = $(this).attr("href")
		$.getJSON(url, function(res){
			console.log(res);
			if(res.success)
			{
				row.remove()	
				$(".txt_subtotal").text(priceFormatter(res.subtotal));
				$(".txt_total").text(priceFormatter(res.total));
				$(".txt_cupon").text(priceFormatter(res.cupon));
				actualizar_carrito(res.qty);	
			}
		});
	})

	$(".cantidad_carrito").on("change", function(e){
		e.preventDefault()		
		let row = $(this).parents("tr");		
		let url = $(this).attr("href")
		let qty = $(this).val();

		$.getJSON(url, {"qty" : qty}, function(res){
			console.log(res);
			if(res.success)
			{				
				row.find(".subtotal").text(priceFormatter(res.subtotal));
				$(".txt_subtotal").text(priceFormatter(res.subtotal));
				$(".txt_total").text(priceFormatter(res.total));
			}
		});
	})
</script>
{% endblock %}