{% extends 'web/__base.html' %}

{% block content %}
<div class="container-fluid">
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Categorias(Listado de Registros)</h5>				
			</div>
			<div class="card-text">
				<a href="{% url 'categoria_nuevo' %}" class="btn btn-danger">
					<i class="glyphicon glyphicon-plus"></i>
					Nuevo Registro
				</a>
				<hr>
				<table class="table table-fixed">
					<thead>
						<tr>							
							<th class="col-8">Nombre</th>
							<th class="col-2">Tipo</th>
							<th class="col-2">Usuario</th>
							<!-- <th>Tipo</th> -->
						</tr>
					</thead>
					<tbody>
						{% for row in data %}
						<tr>
						<!-- <td class="col-2">
							{% if row.photo %}
							<a href="{{ row.photo.url }}" class="picture">
								<img src="{{ row.photo.url }}" alt="{{ row.name }}">
							</a>
							{% endif %}
						</td>				 -->
						<td class="col-8">
							<a href="{% url 'categoria_editar' row.id %}">
								{{ row.name }}
							</a>
						</td>

						<td class="col-2">
							{{ row.tipo }}
						</td>

						<td class="col-2">
							{{ row.user }}
						</td>
						
						{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}