{% extends 'base.html' %}

{% load static %}

{% block carousel %}
{% endblock %}
{% block breadcumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active">{{categoria}}</li>    
  </ol>
</nav>
{% endblock %}
{% block content %}

<div class="container-fluid">
	
	<div class="row">
		<div class="col-3">
			<h5>Ubicación</h5>
			<hr>
			<div class="list-group">	
				{% for z in zones %}
				{% if z.id == zone.id %}
				<a href="{% url 'lugares_categoria' categoria.id %}?zone={{ z.id }}" class="list-group-item list-group-item-action active">
				{% else %}
				<a href="{% url 'lugares_categoria' categoria.id %}?zone={{ z.id }}" class="list-group-item list-group-item-action">
				{% endif %}
					{% if z.id == zone.id %}					
					<i class="far fa-check-square"></i>
					{% else %}
					<i class="far fa-square"></i>
					{% endif %}
					{{ z.name }}
				</a>	
				{% endfor %}

			</div>
		</div>
		<div class="col-9">	
			<div class="row">
				<div class="col">
					<h2>{{ categoria }}s en Acapulco <small class="zona_name text-muted">({{ zone.name }})</small> </h2>
					<hr>
				</div>
			</div>		
			<div class="row lugar-items">
				{% for row in data %}
				<div class="col-3">
					<div class="caja">
						<a href="{% url 'lugar' row.id %}">
							<img src="{{ row.photo.url }}" alt="{{ row.name }}">
						</a>
						<div class="detail">
							<div class="item-name">
								<a href="{% url 'lugar' row.id %}">{{ row.name }}</a>
							</div>
							<div class="item-zone">
								<p>
									<small class="text-muted">{{ row.zone.name }}</small>
									<br>
									<small>
										<i class="fa fa-phone-square"></i>
										{{ row.phone }}
									</small>									
								</p>
							</div>
						</div>
					</div>					
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
<script>
	$(".list-group-item").on("click", function(e){
		e.preventDefault();		
		let href = "";
		if($(this).hasClass("active"))
		{
			href = "";
			$(this).removeClass("active")
			$(this).find("i.far").removeClass("fa-check-square").addClass("fa-square");
		}
		else
		{
			href = $(this).attr("href");
			$(".list-group-item").removeClass("active");
			$(".list-group-item").find("i.far").removeClass("fa-check-square").addClass("fa-square");

			$(this).addClass("active")
			$(this).find("i.far").removeClass("fa-square").addClass("fa-check-square");	
		}

		$.getJSON(href, {"type" : "json"}, function(res){
			console.log(res)
			if(res.success)
			{
				let items = "";
				let zone = "";
				if(res.data.length > 0)
				{					
					$(".zona_name").text("(" + res.zone.name + ")");
					
					$.each(res.data, function(index, value){
						
						if (zone == "")
							zone = value.zone.name
						
						item = [
							'<div class="col-3">',
								'<div class="caja">',
									'<a href="/lugar/' + value.id + '">',
										'<img src="' + value.photo + '" alt="' + value.name + '">',
									'</a>',
									'<div class="detail">',
										'<div class="item-name">',
											'<a href="/lugar/' + value.id + '">' + value.name + '</a>',
										'</div>',
										'<div class="item-zone">',
											'<p>',
												'<small class="text-muted">'+ value.zone.name + '</small>',
												'<br>',
												'<small>',
													'<i class="fa fa-phone-square"></i>',
													value.phone,
												'</small>',
											'</p>',
										'</div>',
									'</div>',
								'</div>',
							'</div>',
						].join("");
						items += item;
						console.log(item)
					})
					$(".lugar-items").html(items);
				}
				else
				{
					$(".lugar-items").html("<div class='col'><p class='text-muted'>No se encontraron resultados</p></div>");					
				}
			}
		})
		// console.log(items)
	})
</script>
{% endblock %}