{% extends 'web/__base.html' %}
{% block content %}
<div class="container-fluid">
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Categorias(Nuevo Registro)</h5>
				<hr>
			</div>
			<div class="card-text">
				{% if tipo == 'producto' %}
				<form action="{% url 'categoria_nuevo' %}" method="post" enctype="multipart/form-data">
				{% else %}
				<form action="{% url 'categoria_lugar_nuevo' %}" method="post" enctype="multipart/form-data">
				{% endif %}
					{% csrf_token %}
					<div class="row">
						<div class="col-8 offset-2">	
							
							<div class="row">
							{% for field in form %}
								<div class="col">			
								{{ field.label }}
								{{ field }}
								<br>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<button type="submit" class="btn btn-danger">GUARDAR</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}