{% extends 'web/__base.html' %}

{% block content %}
<div class="container-fluid">
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Categorias</h5>				
			</div>
			<div class="card-text">
				{% if tipo == "producto" %}
				<a href="{% url 'categoria_nuevo' %}" class="btn btn-danger">
					<i class="glyphicon glyphicon-plus"></i>
					Nuevo Registro
				</a>
				{% else %}
				<a href="{% url 'categoria_lugar_nuevo' %}" class="btn btn-danger">
					<i class="glyphicon glyphicon-plus"></i>
					Nuevo Registro
				</a>
				{% endif %}
				<hr>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>							
								<th>Nombre</th>
								<th>Tipo</th>
								<th>Usuario</th>
								<th></th>								
							</tr>
						</thead>
						<tbody>
							{% for row in data %}
							<tr>							
								<td>
									{% if tipo == 'producto' %}
									<a href="{% url 'categoria_editar' row.id %}">
										{{ row.name }}
									</a>
									{% else %}
									<a href="{% url 'categoria_lugar_editar' row.id %}">
										{{ row.name }}
									</a>
									{% endif %}
								</td>
								<td>{{ row.tipo }}</td>
								<td>{{ row.user }}</td>
								<td>
									<a href="#" catid="{{row.id}}" class="btn btn-danger btn-eliminar" title="Eliminar" data-toggle="tooltip">
										<i class="fas fa-ban"></i>
									</a>
								</td>
							
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
{% block scripts %}
<script>
	$(".btn-eliminar").on("click", function(e){
		e.preventDefault();
		let cat_id = $(this).attr("catid");
		$.getJSON("/categorias/bloquear/" + cat_id, function(res){
			if(res.success)
			{
				alert("Se ha bloqueado correctamente");
				location.href = "";
			}
			else
			{
				alert(res.mensaje);
			}
		});
	});
</script>

{% endblock %}