{% extends 'web/__base.html' %}
{% load static %} 
{% block styles %}
{% endblock %}
{% block content %}
<div class="container">  
    <br>   
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="configForm" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Configuración</h5>
                            <hr>
                        </div>
                        <div class="card-text">
                            {% for field in form %}
                            <div class="row">
                                <div class="col">
                                    {{field.label}}
                                    {{field}}
                                    <br>
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                            <div class="row">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-lg btn-outline-danger">GUARDAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

<!-- <script src="{% static 'js/index.js' %}"></script> -->
<script>
    $("#configForm").on("submit", function(e){
        e.preventDefault()
        alert("Se ha guardado la configuración.")
        document.getElementById("configForm").submit();
    })
</script>

{% endblock %}