{% extends 'base.html' %}

{% load static %}

{% block styles %}
<style>
	
.zone-item
{
	height: 200px;
}	
.videoWrapper
{
	position: relative;
    padding-bottom: 56.25%;    
    height: 0;
    margin-top: -100px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>

{% endblock %}
{% block carousel %}
<div id="video" class="videoWrapper">	
	<iframe class="video-background" width="100%" height="315" src="https://www.youtube.com/embed/7QcSGE6qeIQ?rel=0&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;autoplay=1&amp;html5=1&amp;allowfullscreen=true&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}

{% block content %}

{{ zones }}

<section id="categorias">

	<div class="row">
		<div class="col text-center">
			<h1>
				¿Qué estás buscando?
			</h1>
			<p>
				A continuación se muestran algúnas categorias con las que podrás encontrar facilmente el lugar que estás buscando.
			</p>				
			<hr class="divider">
		</div>
	</div>
	<div class="row">
		<div class="col-8 offset-2">
	
			<div class="row">
				{% for row in data %}
					<div class="col-12 col-sm-6" style="padding:0;">
						<div class="zone-item text-center" style="background:url(/media/{{row.photo}}) no-repeat; width: 100%; height: 200px; background-size: 100%;">
							<h2>
								<a href="{% url 'lugares_categoria' row.id %}" class="etiqueta" style="color: white;">
									{{ row.name }}
								</a>
							</h2>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>		
	</div>

</section>


{% endblock %}