{% extends 'base.html' %}

{% load static %}

{% block styles %}
<style>
	
.zone-item
{
	height: 200px;
}	
.videoWrapper
{
	position: relative;
    padding-bottom: 56.25%;    
    height: 0;
    margin-top: -100px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.linear-progress-material
{
	display: none;
}

.linear-progress-material.active
{
  display: block;
}
</style>

{% endblock %}
{% block carousel %}
<!--<div id="video" class="videoWrapper">	
	<iframe class="video-background" width="100%" height="315" src="https://www.youtube.com/embed/7QcSGE6qeIQ?rel=0&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;autoplay=1&amp;html5=1&amp;allowfullscreen=true&amp;wmode=transparent" allow="autoplay; encripted-media" frameborder="0" allowfullscreen></iframe>
</div>-->
{% endblock %}

{% block content %}

{{ zones }}

<div class="container-fluid">
	
<section id="index">
	
	<div class="row">
		<div class="col-3">
			<h5>Ubicación</h5>
			<hr>
			<div class="list-group">
				<input type="hidden" id="id_zona">	
				{% for zone in zonas %}
				<a href="{{zone.id}}" class="list-group-item list-group-item-action">
					<i class="far fa-square"></i>
					{{ zone.name }}
				</a>	
				{% endfor %}
			</div>
		</div>
		<div class="col-8">

			<div class="row">
				<div class="col">
					<h2>
						¿Qué estás buscando?
					</h2>
					<p class="text-muted">
						A continuación se muestran algúnas categorias con las que podrás encontrar facilmente el lugar que estás buscando.
					</p>
					<div class="linear-progress-material small">
					    <div class="bar bar1"></div>
					    <div class="bar bar2"></div>
					</div>					
					<input type="text" class="form-control" id="busqueda" placeholder="Busca por nombre de algún lugar en Acapulco">
					<br>
					
				</div>
			</div>
			
			<div class="row" id="lugares_encontrados">
				
			</div>

			<div class="row" id="categorias">
				{% for row in data %}
					<div class="col-12 col-sm-6">
						<div class="zone-item text-center" style="background:url(/media/{{row.photo}}) no-repeat; width: 100%; height: 200px; background-size: 100%;">
						</div>
							
						<a href="{% url 'lugares_categoria' row.id %}" class="etiqueta" style="color: white;">
							{{ row.name }}
						</a>
							
					</div>
				{% endfor %}
			</div>

		</div>		
	</div>

</section>

</div>
{% endblock %}

{% block scripts %}

<script>
	
	let tiempounidad = false;

	buscarlugares = function()
	{
		let busqueda = $("#busqueda").val()
		console.log(busqueda)
		$.getJSON("/buscarlugar/", {"busqueda" : busqueda}, function(res){
			$(".linear-progress-material").removeClass("active")

			if (res.data != undefined && res.data.length > 0){

				$.each(res.data, function(index, lugar){
					let card = [
						'<div class="col-3">',
						'<div class="caja">',
							'<a href="/lugar/'+lugar.id+'">',
								'<img src="' + lugar.photo + '"/>',
							'</a>',
							'<div class="detail">',
								'<div class="item-name">',
									'<a href="/lugar/'+lugar.id+'">' + lugar.name + '</a>',
								'</div>',
								'<div class="item-zone">',
									'<p>',
										'<small class="text-muted">' + lugar.zone_id[1] + '</small>',
										'<br>',
										'<small>',
											'<i class="fa fa-phone-square"></i>',
											lugar.phone,
										'</small>',
									'</p>',
								'</div>',
							'</div>',
						'</div>',
					'</div>'].join("")
					$("#lugares_encontrados").append(card)
					$("#lugares_encontrados").show()
				})

				$("#categorias").hide();
			}
		});
	}

	$(".list-group-item").on("click", function(e){
		e.preventDefault();		
		let href = "";
		if($(this).hasClass("active"))
		{
			href = "";
			$(this).removeClass("active")
			$(this).find("i.far").removeClass("fa-check-square").addClass("fa-square");		
		}
		else
		{
			href = $(this).attr("href");
			$(".list-group-item").removeClass("active");
			$(".list-group-item").find("i.far").removeClass("fa-check-square").addClass("fa-square");

			$(this).addClass("active")
			$(this).find("i.far").removeClass("fa-square").addClass("fa-check-square");	
		}
		
		$("#id_zona").val(href);
	});

	$(".etiqueta").on("click", function(e){
		e.preventDefault();
		let url = $(this).attr("href");
		let id_zona = $("#id_zona").val()
		if(id_zona != "")
			url += "?zone="+id_zona
		location.href = url;
	});

	$("#busqueda").on("keyup", function(){
		$(".linear-progress-material").addClass("active")
		clearTimeout(tiempounidad);
	    
	    if($(this).val() == "")
	    {
	    	$(".linear-progress-material").removeClass("active");
	    	$("#categorias").show();
	    }

	    if($(this).val().length >= 2)
	    { 
	    	
	      	$("#lugares_encontrados").html("").hide();
	      	tiempounidad = setTimeout(buscarlugares, 900);
	    }
	    else
	    {		
	    	this.activeLoader = ""	      
	      	$("#lugares_encontrados").html("").hide();	      	
	    }
	})

</script>

{% endblock %}