{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
	.info
	{
		/*padding: 1em;*/
	}
	.info a, .info span
	{
		color: gray;
	}
	.carousel img
	{
		height: 450px;
	}
	.separator
	{
		border-right: 1px solid gray;
		margin: 10px; 
	}
	.comments .comment
	{
		padding: 1em 0 0 1em;
	}
	.comments img.rounded-circle
	{
		height: 80px;
		width: 80px;
	}
	.comments .nombre-usuario
	{
		font-weight: bold;
		font-size: 1.2em;
		margin-top: 0.5em;		
	}
	.comments .comentario
	{		
		
	}
	.starrr span
	{
		font-size: 1.5em;
		color: green;
	}
	
</style>
{% endblock %}

{% block carousel %}
{% endblock %}

{% block breadcumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'lugares_categoria' data.category.id %}">{{data.category}}</a></li>    
    <li class="breadcrumb-item active">{{data.name}}</li>    
  </ol>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
	
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col info">
							<h1>{{ data.name }}</h1>
							<p class="text-muted">{{ data.description }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col info">							
							<a href="{% url 'lugares_categoria' data.category.id %}">{{ data.category }}</a> 
							<span class="separator"></span> 
							<a href="{% url 'lugares_zona' data.zone.id %}">Acapulco, {{ data.zone }}</a>
							<span class="separator"></span> 
							<span>${{ data.price }}</span>
					<!--	</div>
					</div>
					<div class="row">
						<div class="col info">							-->
							<span class="separator"></span>
							<span>								
							<i class="fa fa-map-marker-alt"></i>
							{{ data.address }}
							</span>
							<span class="separator"></span> 
							<span>								
							<i class="fa fa-phone-square"></i>
							{{ data.phone }}
							</span>
							<span class="separator"></span> 
							<span>								
							<i class="fa fa-envelope"></i>
							{{ data.email }}
							</span>
							{% if data.video %}
							<span class="separator"></span> 
							<span>								
							<i class="fa fa-video"></i>
							<a href="{{ data.video }}" class="btn btn-link vervideo">Ver video</a>
							</span>
							{% endif %}
						</div>
					</div>
					<hr>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="fotos-tab" data-toggle="tab" href="#fotos" role="tab" aria-controls="fotos" aria-selected="true">Fotos</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="false">Menu</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="mapa-tab" data-toggle="tab" href="#mapa" role="tab" aria-controls="mapa" aria-selected="false">Mapa</a>
					  </li>
					</ul>
					<div class="tab-content container-fluid" id="myTabContent">
						<div class="tab-pane fade show active" id="fotos" role="tabpanel" aria-labelledby="fotos-tab">
							<div class="row gallery">
								<div class="col-md-12 col-lg-6">
									{% if data.photo %}
									<a class="picture" href="{{ data.photo.url }}">
										<img src="{{ data.photo.url }}" alt="fotos" class="img-main">
									</a>
									{% else %}
									<img src="{% static '/img/default.png' %}" alt="fotos" class="img-main">	
									{% endif %}									
									<hr>
									<div class="row">
										<div class="col">
											<textarea name="newcomment" id="newcomment" class="form-control" cols="30" rows="5" placeholder="Deja tu comentario"></textarea>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-9">
											¿Que tanto recomendarías el lugar?<div id="stars" class="starrr"></div>
										</div>
										<div class="col text-right">
											<input type="hidden" id="puntuacion">
											<a href="" class="btn btn-success disabled guardar_comentario">Comentar</a>
										</div>
									</div>
									<hr>
									<div class="row comments">
										{% for comment in comments %}
										<div class="col-12">
											<div class="row comment">
												<div class="col-2">
													<img class="rounded-circle" src="{% static '/photos/1.jpg' %}" alt="">
												</div>
												<div class="col-10">
													<div class="row">
														<div class="col">
															<div class="nombre-usuario">		
															{{ comment.usuario }}
															</div>					
														</div>
													</div>
													<div class="row">
														<div class="col">
															<div class="puntuacion">
																<small class="text-muted">
																<i>
																	{{ comment.puntuacion }}
																</i>, 
																{{ comment.fecha }}</small>

															</div>
														</div>
													</div>
													<div class="row">
														<div class="col">
														<p class="comentario text-muted">
															{{ comment.comentario }}
														</p>
														</div>
													</div>											
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div class="col-md-12 col-lg-6">
									<div class="row">
										{% if photos %}
										{% for el in photos %}
											<div class='col-sm-4 col-md-4 col-6'>
												
												<a href="{% url 'main_foto' el.id %}" tipo="lugar" class="main" data-toggle="tooltip" data-placement="right" title="Hacer Foto Principal"><i class="fa fa-home"></i></a>
												
												<a href="{% url 'eliminar_foto' el.id %}" class="delete" data-toggle="tooltip" data-placement="right" title="Eliminar">
												<i class="fa fa-trash"></i></a>
												
												<a class="picture" href='{{ el.photo.url }}'>
													<img src='{{ el.photo.url }}'/>
												</a>
												<br><br>
											</div>
										{% endfor %}
										{% endif %}
									</div>
								</div>
							</div>	
						</div>
						<div class="tab-pane fade show" id="menu" role="tabpanel" aria-labelledby="menu-tab">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Producto</th>
										<th>Categoria</th>
										<th>Precio</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								{% for prod in productos %}		
								<tr>	
									<td width="10%">
										{% if prod.photo %}
										<a class="picture" href="{{ prod.photo.url }}">
											<img src="{{ prod.photo.url }}" alt="fotos" style="width:100%;">
										</a>
										{% else %}
										<img src="{% static '/img/default.png' %}" alt="fotos" style="width:100%;">	
										{% endif %}
									</td>								
									<td>
										<a href="{% url 'producto' prod.id %}">{{ prod }} </a>
										<br> 
										<small class="text-muted"> {{ prod.description }} </small> 
									</td>
									<td> {{ prod.category }} </td>
									<td>{{ prod.price }}</td>
									<td>
										<a class="btn btn-success agregar_carrito" href="{% url 'agregar_carrito' prod.id %}" title="Agregar al carrito"><i class="fas fa-cart-plus"></i></a>
									</td>
								</tr>							
								{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade show" id="mapa" role="tabpanel" aria-labelledby="mapa-tab">
							{% if data.mapa %}
							<div class="row">
								<div class="col">
									<h3>Puesdes encontrarnos en:</h3>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col">
									{% autoescape off %}
									{{ data.mapa }}
									{% endautoescape %}									
								</div>
							</div>
							{% endif %}
						</div>
					</div>			
				</div>
				
			</div>
			
		</div>
		
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	let lugar_id = "{{ data.id }}";

	{% if data.video %}
		
		let video = "{{ data.video }}";		

		$(".vervideo").on("click", function(e){
			e.preventDefault()
			lity(video)
		});

		setTimeout(function(){
			$(".vervideo").click()			
		}, 500);

	{% endif %}

	$(".guardar_comentario").on("click", function(e){
		e.preventDefault();
		let comentario = $("#newcomment").val();
		let puntuacion = $("#puntuacion").val();
		let url = "/lugar/" + lugar_id + "/comment/upload";
		$.getJSON(url, {"comentario" : comentario, "puntuacion" : puntuacion}, function(res){
			console.log(res)
		});
	})

	$(".comment .puntuacion i").each(function(){
		let puntaje = $.trim($(this).text())
		let puntajes = ["No lo recomendaría", "Lo recomendaría poco", "Lo recomendaría regular", "Es bueno", "Me encanta!"];
		$(this).text(puntajes[puntaje-1])		
	});

	$(function() {		
	  return $(".starrr").starrr();
	});

	$( document ).ready(function() {	      

	  $('#stars').on('starrr:change', function(e, value){
	    $('#count').html(value);
	    $("#puntuacion").val(value);

	    let newcomment = $("#newcomment").val()
	    if(newcomment != "" && value != undefined)
	    {
	    	$(".guardar_comentario").removeClass("disabled");
	    }
	    else
	    {
	    	$(".guardar_comentario").addClass("disabled");
	    }
	  });
	  
	  $('#stars-existing').on('starrr:change', function(e, value){
	    $('#count-existing').html(value);
	    $("#puntuacion").val(value);

	    let newcomment = $("#newcomment").val()
	    if(newcomment != "" && value != undefined)
	    {
	    	$(".guardar_comentario").removeClass("disabled");
	    }
	    else
	    {
	    	$(".guardar_comentario").addClass("disabled");
	    }
	  });

	  $("#newcomment").on("keyup", function(){

	  	let comentario = $(this).val()
	  	let puntuacion = $("#puntuacion").val()
	  	if (comentario != "" && puntuacion != "")
	  	{
	  		$(".guardar_comentario").removeClass("disabled")
	  	}
	  	else
	    {
	    	$(".guardar_comentario").addClass("disabled");
	    }
	  });

	  $(".agregar_carrito").on("click", function(e){
	  	e.preventDefault()
	  	let url = $(this).attr("href");
	  	console.log(url)
	  	$.getJSON(url, function(res){
	  		console.log(res)
	  		if(res.success)
	  		{
	  			actualizar_carrito(res.qty);
	  			if(confirm("El producto se ha agregado al carrito, ¿deseas ir a pagar?"))
	  			{
	  				location.href = "/carrito";
	  			}	  			
	  		}
	  	})
	  })


	});
</script>
{% endblock %}
