{% extends 'web/__main.html' %} 
{% load static %} 
{% block styles %}
<style>
    .title,
    .subtitle {
        color: #495057;
    }
    .zone
    {
        color: crimson;
        font-weight: bold;
        font-size: 18px;
    }
    
    .info a,
    .info span {
        color: #495057;
    }
    
    .carousel img {
        height: 450px;
    }
    
    .separator {
        border-right: 1px solid gray;
        margin: 10px;
    }
    
    .comments .comment {
        padding: 1em 0 0 1em;
    }
    
    .comments img.rounded-circle {
        height: 80px;
        width: 80px;
    }
    
    .comments .nombre-usuario {
        color: #495057;
        font-weight: bold;
        /* font-size: 1.2em; */
        margin-top: 0.5em;
    }
    
    .comments .comentario {
        color: #495057;
    }
    
    .sidebar .list-item {
        font-size: 1em;
    }
    
    .nav-tabs a.nav-link {
        color: #495057;
    }
    
    .comments .puntuacion {
        color: #495057;
    }
</style>
{% endblock %} 
{% block carousel %} {% endblock %} 
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding: 0 1em;">
    <ol class="carousel-indicators">
        {% if photos %} {% for el in photos %}
        {% if forloop.counter0 == 0 %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}                            
        {% endfor %} {% endif %}
    </ol>
    <div class="carousel-inner">

        {% if photos %} {% for el in photos %}
            {% if forloop.counter0 == 0 %}
            <div class="carousel-item active">
                <a class="picture" href='{{ el.photo.url }}'>
                    <img src="{{ el.photo.url }}" class="d-block w-100" alt="Fotos">
                </a>
            </div>                                
            {% else %}
            <div class="carousel-item">
                <a class="picture" href='{{ el.photo.url }}'>
                    <img src="{{ el.photo.url }}" class="d-block w-100" alt="Fotos">
                </a>
            </div>   
            {% endif %}
        {% endfor %} {% endif %}
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br><br><br>
<div class="container">     
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col info">
                    <h3 class="zone">Acapulco, {{ data.zone }} </h3>
                    <h1 class="title">{{ data.name }}</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col info">
                    <span>								
                    {{ data.category }}
                    </span>
                    <span class="separator"></span> 
                    {% if data.mapa %}
                    <span>								
                    <i class="fa fa-map-marker-alt"></i>
                    <a href="{{ data.mapa }}" class="map">Ubicación</a>
                    </span>
                    <span class="separator"></span> 
                    {% endif %}
                    <span>								
                    <i class="fa fa-phone-square"></i>
                    {{ data.phone }}
                    </span>
                    <span class="separator"></span>
                    <span>								
                    <i class="fa fa-envelope"></i>
                    {{ data.email }}
                    </span> {% if data.video %}
                    <span class="separator"></span>
                    <span>								
                    <i class="fa fa-video"></i>
                    <a href="{{ data.video }}" class="btn btn-link vervideo">Ver video</a>
                    </span> {% endif %}
                </div>
            </div>
            <hr>                    
            <div class="row">
                <div class="col">
                    <b>Ver Experiencias:</b><br>
                    <p class="subtitle">{{ data.description }}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <b>Lo mejor:</b><br>
                    <p class="subtitle">{{ data.description }}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <b>Accesibilidad:</b><br>
                    <p class="subtitle">{{ data.description }}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <b>Calificación del Anfitrión:</b><br>
                    <div class="row">
                        <div class="col-3">
                            <div id="stars" class="starrr"></div>
                        </div>
                        <div class="col">
                            <span class="text-muted">153</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <b>Servicios:</b><br>
                    <p class="subtitle">{{ data.description }}</p>
                </div>
            </div>
            
            
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="fotos-tab" data-toggle="tab" href="#fotos" role="tab" aria-controls="fotos" aria-selected="true">Fotos</a>
                </li>	 -->
            <!-- <li class="nav-item">
                <a class="nav-link" id="mapa-tab" data-toggle="tab" href="#mapa" role="tab" aria-controls="mapa" aria-selected="false">Mapa</a>
                </li> -->
            <!-- </ul> -->
            <!-- <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="fotos" role="tabpanel" aria-labelledby="fotos-tab"> -->
            
            
            <br>                    
            <div class="row comments">
                <div class="col-12">    
                    <div class="card">
                        <div class="card-body">                                    
                            <div class="card-text">                                                                                       
                                <div class="row">
                                    <div class="col-3">
                                        <div id="stars" class="starrr"></div>
                                    </div>
                                    <div class="col">
                                        <h4>Total de Evaluaciones 153</h4>
                                    </div>
                                </div>                                                                                 
                                {% for comment in comments|slice:":3" %}
                                <div class="row comment">                                
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="nombre-usuario">
                                                    {{ comment.usuario }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="puntuacion">
                                                    <span>
                                                        <i>
                                                            {{ comment.puntuacion }}
                                                        </i>, 
                                                        {{ comment.fecha }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="comentario">
                                                    {{ comment.comentario }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col">
                                        <textarea name="newcomment" id="newcomment" class="form-control" cols="30" rows="5" placeholder="Deja tu comentario"></textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-9">
                                        ¿Que tanto recomendarías el lugar?
                                        <div id="stars" class="starrr"></div>
                                    </div>
                                    <div class="col text-right">
                                        <input type="hidden" id="puntuacion">
                                        <a href="" class="btn btn-warning disabled guardar_comentario">Comentar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                   
            
            
            <!-- </div>						 -->
            <!-- <div class="tab-pane fade show" id="mapa" role="tabpanel" aria-labelledby="mapa-tab">
                    {% if data.mapa %}
                    <div class="row">
                        <div class="col">
                            <h3>Puesdes encontrarnos en:</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% autoescape off %}
                            {{ data.mapa }}
                            {% endautoescape %}									
                        </div>
                    </div>
                    {% endif %}
                </div> -->
            <!-- </div>			 -->
        </div>
        <div class="col-12 col-md-5">                
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>RESERVA</h5>
                        <div class="divider"></div>                        
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-12">
                                <div class="menu scrollbar" id="style-1">
                                    <ul class="list-group">
                                        
                                        {% for cat in categories %}
                                        <!-- <h3 class="text-secondary">{{ cat.name }}</h3> -->
                                        {% for prod in cat.prods %}
                                        <!-- <hr> -->
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <label><h5>
                                                    <input type="checkbox">
                                                    {{ prod.name }}</h5>
                                                </label>
                                                <br> 
                                                <small class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page</small>                                    
                                            </div>
                                            <span class="badge badge-danger badge-pill">${{prod.price}}</span>                                   
                                        </li>                                
                                        {% endfor %} {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <br>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div style="padding: 0 1em;">
                                    <label>
                                        Fecha de la reservación:
                                    </label>
                                    <br>
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                            <div class="col-12 col-lg-6">
                                <div style="padding: 0 1em;">
                                    <label>
                                        Número de Invitados:
                                    </label>
                                    <br>
                                    <input type="number" min="1" value="1" class="form-control">
                                </div>                        
                            </div>
                        </div>    
                        <br>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div style="padding: 0 1em;">
                                    <label>Cupón</label>
                                    <input type="text" class="form-control readonly" value="-100">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 text-right">
                                <br>
                                <h3>Total: $0.00</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="btn btn-lg btn-outline-danger">CONFIRMAR</button>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>REGLAS DE LA CASA</h5>
                    </div>
                    <div class="card-text">
                        <p>
                            It is a long established fact that a reader 
                            will be distracted by the readable content 
                            of a page when looking at its layout. 
                            The point of using Lorem Ipsum is that it has a 
                            more-or-less normal distribution of letters, 
                            as opposed to using 'Content here, content here', 
                            making it look like readable English.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
<script>
    let lugar_id = "{{ data.id }}";

    {% if data.video %}

    let video = "{{ data.video }}";

    $(".vervideo").on("click", function(e) {
        e.preventDefault()
        lity(video)
    });

    // setTimeout(function() {
    //     $(".vervideo").click()
    // }, 500);

    {% endif %}

    $(".guardar_comentario").on("click", function(e) {
        e.preventDefault();
        let comentario = $("#newcomment").val();
        let puntuacion = $("#puntuacion").val();
        let url = "/lugar/" + lugar_id + "/comment/upload";
        $.getJSON(url, {
            "comentario": comentario,
            "puntuacion": puntuacion
        }, function(res) {
            console.log(res)
            if(res.success)
            {
                location.reload();
            }
        });
    })

    $(".comment .puntuacion i").each(function() {
        let puntaje = $.trim($(this).text())
        let puntajes = ["No lo recomendaría", "Lo recomendaría poco", "Lo recomendaría regular", "Es bueno", "Me encanta!"];
        $(this).text(puntajes[puntaje - 1])
    });

    $(function() {
        return $(".starrr").starrr();
    });

    $(document).ready(function() {

        $('#stars').on('starrr:change', function(e, value) {
            $('#count').html(value);
            $("#puntuacion").val(value);

            let newcomment = $("#newcomment").val()
            if (newcomment != "" && value != undefined) {
                $(".guardar_comentario").removeClass("disabled");
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });

        $('#stars-existing').on('starrr:change', function(e, value) {
            $('#count-existing').html(value);
            $("#puntuacion").val(value);

            let newcomment = $("#newcomment").val()
            if (newcomment != "" && value != undefined) {
                $(".guardar_comentario").removeClass("disabled");
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });

        $("#newcomment").on("keyup", function() {

            let comentario = $(this).val()
            let puntuacion = $("#puntuacion").val()
            if (comentario != "" && puntuacion != "") {
                $(".guardar_comentario").removeClass("disabled")
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });

        $(".agregar_carrito").on("click", function(e) {
            e.preventDefault()
            let url = $(this).attr("href");
            console.log(url)
            $.getJSON(url, function(res) {
                console.log(res)
                if (res.success) {
                    actualizar_carrito(res.qty);
                    if (confirm("El producto se ha agregado al carrito, ¿deseas ir a pagar?")) {
                        location.href = "/carrito";
                    }
                }
            })
        })

    });
</script>

{% endblock %}