{% extends 'web/__base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Lugares (Editar registro)</h5>
				<hr>
			</div>
			<div class="card-text">
					<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="lugar" role="tabpanel" aria-labelledby="lugar-tab">
								<form action="{% url 'lugar_editar' data.id %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="col">						
												{% if data.photo %}
												<img src="{{ data.photo.url }}" alt="fotos" class="img-main">
												{% else %}
												<img src="{% static '/img/default.png' %}" alt="fotos" class="img-main">	
												{% endif %}
											</div>
										</div>
										<br>
										<div class="row gallery">
											{% if fotos %}
											{% for el in fotos %}
												<div class='col-3'>
													
													<a href="{% url 'main_foto' el.id %}" tipo="lugar" class="main" data-toggle="tooltip" data-placement="right" title="Hacer Foto Principal"><i class="fa fa-home"></i></a>
													
													<a href="{% url 'eliminar_foto' el.id %}" class="delete" data-toggle="tooltip" data-placement="right" title="Eliminar">
													<i class="fa fa-trash"></i></a>
													
													<a class="picture" href='{{ el.photo.url }}'>
														<img src='{{ el.photo.url }}'/>
													</a>
													<br><br>
												</div>
											{% endfor %}
											{% endif %}
										</div>
										<hr>
										<div class="row">
											<div class="col">
												<button type="button" class="btn btn-primary js-upload-photos">
														<span class="glyphicon glyphicon-cloud-upload"></span> Subir Fotos
													</button>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<input id="fileupload" type="file" name="photo" multiple style="display: none;" data-url="{% url 'lugar_photo_upload' data.id %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
											</div>
										</div>
									</div>
									<div class="col">	
											
									<div class="row">
									{% for field in form %}
										<div class="col-12">			
										{{ field.label }}
										{{ field }}
										<br>
										</div>
									{% endfor %}
									</div>
									</div>
								</div>
								<div class="row">
									<div class="col text-center">
										<button class="btn btn-danger"> GUARDAR </button>
									</div>
								</div>
							</form>
							</div>
							<div class="tab-pane fade" id="fotos" role="tabpanel" aria-labelledby="fotos-tab">...</div>
							
						</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script>
	$(".js-upload-photos").click(function () {
		$("#fileupload").click();
	});

  $("#fileupload").fileupload({
    dataType: 'json',
    done: function (e, data) {
      if (data.result.success) {
        $(".gallery").prepend("<div class='col-3'><a href='"+data.result.url+"'><img src='" + data.result.url + "'/></a><br><br></div>");
      }
    }
  });

  $(".gallery a.delete").on("click", function(e){
    e.preventDefault()
    let el = $(this)
    let url = $(this).attr("href");
    $.getJSON(url, function(res){
      if(res.success)
      {
        el.parent().remove();
      }
    });
  });

  $(".gallery a.main").on("click", function(e){
    e.preventDefault()
    let tipo = $(this).attr("tipo");
    let el = $("img.img-main")
    let url = $(this).attr("href");
    $.getJSON(url, {"tipo" : tipo}, function(res){
      if(res.success)
      {
        el.attr("src", res.url)
      }
    });
  });
  
</script>
{% endblock %}