{% extends 'web/__base.html' %} 
{% load static %} 
{% block styles %}
<style>
    .title,
    .subtitle {
        color: #495057;
    }
    .zone
    {
        color: crimson;
        font-weight: bold;
        font-size: 18px;
    }
    
    .info a,
    .info span {
        color: #495057;
    }
    
    .carousel img {
        height: 450px;
    }
    
    .separator {
        border-right: 1px solid gray;
        margin: 10px;
    }
    
    .comments .comment {
        padding: 1em 0 0 1em;
    }
    
    .comments img.rounded-circle {
        height: 80px;
        width: 80px;
    }
    
    .comments .nombre-usuario {
        color: #495057;
        font-weight: bold;
        /* font-size: 1.2em; */
        margin-top: 0.5em;
    }
    
    .comments .comentario {
        color: #495057;
    }
    
    .sidebar .list-item {
        font-size: 1em;
    }
    
    .nav-tabs a.nav-link {
        color: #495057;
    }
    
    .comments .puntuacion {
        color: #495057;
    }
    iframe
    {
        width: 100%;
    }
</style>
{% endblock %} 

{% block header %}
{% endblock %} 

{% block content %}

{% if photos %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding: 0 1em;">
    <ol class="carousel-indicators">
        {% for el in photos %}
        {% if forloop.counter0 == 0 %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}                            
        {% endfor %}
    </ol>
    <div class="carousel-inner">

        {% for el in photos %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
            <a class="picture" href='{{ el.photo.url }}'>
                <img src="{{ el.photo.url }}" class="d-block w-100" alt="Fotos">
            </a>
        </div>                                
        {% else %}
        <div class="carousel-item">
            <a class="picture" href='{{ el.photo.url }}'>
                <img src="{{ el.photo.url }}" class="d-block w-100" alt="Fotos">
            </a>
        </div>   
        {% endif %}
        {% endfor %} 
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br><br>
{% endif %}
<br>
<div class="container">     
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="row">
                <div class="col info">
                    <h3 class="zone">Acapulco, {{ data.zone }} </h3>
                    <h1 class="title">{{ data.name }}</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col info">
                    <span>								
                    {{ data.category }}
                    </span>
                    <span class="separator"></span> 
                    {% if data.mapa %}
                    <span>								
                    <i class="fa fa-map-marker-alt"></i>
                    <a href="{{ data.mapa }}" class="map">Ubicación</a>
                    </span>
                    <span class="separator"></span> 
                    {% endif %}
                    <span>								
                    <i class="fa fa-phone-square"></i>
                    {{ data.phone }}
                    </span>
                    <span class="separator"></span>
                    <span>								
                    <i class="fa fa-envelope"></i>
                    {{ data.email }}
                    </span> {% if data.video %}
                    <span class="separator"></span>
                    <span>								
                    <i class="fa fa-video"></i>
                    <a href="{{ data.video }}" class="btn btn-link vervideo">Ver video</a>
                    </span> {% endif %}
                </div>
            </div>
            <hr>      
            {% if data.descripcion %}              
            <div class="row">
                <div class="col">
                    <b>Ver Experiencias:</b><br>
                    <p class="subtitle">{{ data.description }}</p>
                </div>
            </div>
            <br>
            {% endif %}
            {% if data.lomejor %}
            <div class="row">
                <div class="col">
                    <b>Lo mejor:</b><br>
                    <p class="subtitle">{{ data.lomejor }}</p>
                </div>
            </div>
            <br>
            {% endif %}
            {% if data.accesibilidad %}
            <div class="row">
                <div class="col">
                    <b>Accesibilidad:</b><br>
                    <p class="subtitle">{{ data.accesibilidad }}</p>
                </div>
            </div>
            <br>
            {% endif %}
            <div class="row">
                <div class="col">
                    <b>Calificación del Anfitrión:</b><br>
                    <div class="row">
                        <div class="col-3">
                            <div id="promedio" class="starrr"></div>
                        </div>
                        <div class="col">
                            <span class="text-muted">{{promedio}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% if data.servicios %}
            <div class="row">
                <div class="col">
                    <b>Servicios:</b><br>
                    <p class="subtitle">{{ data.servicios }}</p>
                </div>
            </div>
            {% endif %}
            
        </div>
        <div class="col-12 col-lg-5">                
            
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>RESERVA</h5>
                        <div class="divider"></div>                        
                    </div>
                    <div class="card-text">
                        {% if data.precio %}
                        <div class="row">
                            <div class="col-12">
                                <span class="text-muted">
                                    Precio promedio por persona ${{data.precio}}
                                </span>
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div class="menu scrollbar" id="style-1">
                                    <ul class="list-group">
                                        
                                        {% for cat in categories %}
                                        <!-- <h3 class="text-secondary">{{ cat.name }}</h3> -->
                                        {% for prod in cat.prods %}
                                        <!-- <hr> -->
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <label class="producto_label"><h5>
                                                    <input class="producto" type="checkbox" id="{{prod.id}}" price="{{prod.price}}">
                                                    {{ prod.name }}</h5>
                                                </label>
                                                <br>
                                                <small class="text-muted">
                                                    {{ prod.description }}
                                                </small>                                    
                                                <br>
                                                <div class="row">
                                                    <div class="col-6 col-lg-6">
                                                        Cantidad: <span class="prod_qty">1</span> 
                                                    </div>
                                                    <div class="col-6 col-lg-6">
                                                        <a href="javascript:;" class="btn btn-outline-danger agregar">+</a> 
                                                        <a href="javascript:;" class="btn btn-outline-secondary quitar">-</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="badge badge-danger badge-pill">${{prod.price}}</span>                                   
                                        </li>                                
                                        {% endfor %} {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div style="padding: 0 1em;">
                                    <label>
                                        Fecha de la reservación:
                                    </label>
                                    <br>
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" id="fecha_reserva" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div style="padding: 0 1em;">
                                    <label>
                                        Invitados:
                                    </label>
                                    <br>
                                    <input type="number" id="invitados" min="1" value="1" class="form-control">
                                </div>
                                <br>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div style="padding: 0 1em;">
                                    <label>Cupón</label>
                                    <input type="hidden" id="cupon" class="form-control" value="{{data.promociones}}" readonly>
                                    {% load humanize %}
                                    <input type="text" class="form-control" value="-${{ data.promociones|floatformat:2|intcomma }} " readonly>
                                </div>
                            </div>
                            <div class="col-12">
                                <br>
                                <h3 class="text-right">Total: $<span id="total_label">0.00</span></h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button class="confirmar btn btn-lg btn-outline-danger">CONFIRMAR</button>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="row comments">
                <div class="col-12">    
                    <div class="card">
                        <div class="card-body">                                    
                            <div class="card-text">                                                                                       
                                <div class="row">
                                    <div class="col-5 col-lg-3">
                                        <!-- <div class="starrr"></div> -->
                                    </div>
                                    <div class="col-7 col-lg-9">
                                        <h4>Total de Evaluaciones: {{calificacion}}</h4>
                                    </div>
                                </div>                                                                                 
                                {% for comment in comments|slice:":3" %}
                                <div class="row comment">                                
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="nombre-usuario">
                                                    {{ comment.usuario }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="puntuacion">
                                                    <span>
                                                        <i>
                                                            {{ comment.puntuacion }}
                                                        </i>, 
                                                        {{ comment.fecha }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="comentario">
                                                    {{ comment.comentario }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col">
                                        <textarea name="newcomment" id="newcomment" class="form-control" cols="30" rows="5" placeholder="Deja tu comentario"></textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-9">
                                        ¿Que tanto recomendarías el lugar?
                                        <div id="stars" class="starrr"></div>
                                    </div>
                                    <div class="col text-right">
                                        <input type="hidden" id="puntuacion">
                                        <a href="" class="btn btn-warning disabled guardar_comentario">Comentar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <br>
        </div>
        <div class="col-12 col-lg-5">
            {% if data.photoweb %}
            <div class="card">
                <div class="card-body">
                    <div class="card text">
                        <div class="row">
                            <div class="col">
                                <a href="{{ data.web }}" target="_blank">
                                    <img src="{{ data.photoweb.url }}" alt="Foto Web">
                                </a>
                            </div>
                        </div>
                        <br>
                        {% if config %}
                        <div class="row">
                            <div class="col text-right">
                                <small><i>Visita nuestras redes sociales</i></small>
                                {% if config.facebook %}
                                <a href="{{ config.facebook }}" class="btn btn-link" target="_blank" style="color:#1877f2;">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                {% endif %}
                                {% if config.twitter %}
                                <a href="{{ config.twitter }}" class="btn btn-link" target="_blank" style="color:#01ace4;">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                                {% endif %}
                                {% if config.instagram %}
                                <a href="{{ config.instagram }}" class="btn btn-link" target="_blank" style="color:#b935ad;">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <br>
    </div>
    <br>
    {% if data.reglas %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>REGLAS DE LA CASA</h5>
                    </div>
                    <div class="card-text">
                        <p>
                            {{data.reglas}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    <div class="row">
        {% if data.mapa %}
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Como llegar</h5>
                        <!-- <small class="text-muted">Algo va aqui </small> -->
                    </div>
                    <div class="card-text">
                        {% autoescape off %}
                        {{ data.mapa }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- {{data.promociones}} -->
        {% if data.promociones %}
        <div class="col-12 col-lg-5">
            <div class="card border-danger">
                <div class="card-body">
                    <div class="card-title">
                        <h5>
                            Promoción del mes
                        </h5>
                        <!-- <small class="text-muted">algo aqui</small> -->
                    </div>
                    <div class="card-text" style="padding: 1em;">                        
                        <h4 class="text-center" style="margin-top:0.5em;">Este més </h4>                        
                        <h4 class="text-center" style="margin-top:0.5em;">AHORRA</h4>                        
                        <h4 class="text-center" style="margin-top:0.5em;">Sobre Reserva</h4>                        
                        <h3 class="text-center text-danger" style="margin-top:0.5em; font-weight: bold;">{{data.name | upper}}</h3>                        
                        <h3 class="text-center" style="margin-top:0.5em;">$-{{data.promociones}} pesos</h3>                        
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Otras sugerencias</h5>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            {% if lugares %} {% for el in lugares %}
                                {% if forloop.counter < 4 %}                      
                                <div class="col-12 col-lg-4">
                                    <div class="row">
                                        <div class="col">
                                            {% if el.photo %}
                                            <a href="{{el.photo.url}}" class="picture">
                                                <img src="{{el.photo.url}}" alt="Imagen" style="height: 100px;">
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <div> 
                                                <a href="{% url 'lugar' el.id %}">{{ el.name }} </a>
                                            </div>                                            
                                            <small>Acapulco {{ el.zone }}</small>
                                            <br>
                                            <span class="text-muted">$350</span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                {% endif %}
                            {% endfor %} {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
<script>
    let lugar_id = "{{ data.id }}";

    {% if data.video %}

    let video = "{{ data.video }}";

    $(".vervideo").on("click", function(e) {
        e.preventDefault()
        lity(video)
    });

    // setTimeout(function() {
    //     $(".vervideo").click()
    // }, 500);

    {% endif %}

    $(".guardar_comentario").on("click", function(e) {
        e.preventDefault();
        let comentario = $("#newcomment").val();
        let puntuacion = $("#puntuacion").val();
        let url = "/lugar/" + lugar_id + "/comment/upload";
        $.getJSON(url, {
            "comentario": comentario,
            "puntuacion": puntuacion
        }, function(res) {
            console.log(res)
            if(res.success)
            {
                location.reload();
            }
        });
    })

    $(".comment .puntuacion i").each(function() {
        let puntaje = $.trim($(this).text())
        let puntajes = ["No lo recomendaría", "Lo recomendaría poco", "Lo recomendaría regular", "Es bueno", "Me encanta!"];
        $(this).text(puntajes[puntaje - 1])
    });

    $(function() {
        $("#stars").starrr();
        $("#promedio").starrr({
            rating: '{{promedio}}',
            readOnly: true
        });
    });

    calcular_total = function(fn) {
        console.log("CALCULAR")
        let productos = $(".menu .list-group-item .producto:checked");
        let subtotal = 0;
        productos.each(function(index, value){
            let price = $(value).attr("price");
            let qty = $(value).parents(".list-group-item").find(".prod_qty").text();
            subtotal += parseFloat(price) * parseInt(qty);
        })
        // price = parseFloat(price);
        // debugger
        let descuento = $("#cupon").val();
        // let total = parseInt(invitados) * subtotal;
        let total = subtotal - parseInt(descuento);
        console.log(total)
        $("#total_label").html(total.toFixed(2));

        if (fn != undefined){
            fn();
        }
    }

    $(document).ready(function() {

        $(".menu .list-group-item .producto").on("click", function(){            
        // $(".menu .list-group-item .producto, .menu .list-group-item .producto_label").on("click", function(){
            let checkbox = $(this);
            let product_id = checkbox.attr("id");
            let product_qty = checkbox.parents(".list-group-item").find(".prod_qty").text();
            if(checkbox.is(":checked"))
            {                
                $.getJSON("/compra/agregar/" + product_id + "?qty=" + product_qty, function(res){
                    console.log(res)
                });
            }
            else
            {
                $.getJSON("/compra/quitar/" + product_id + "?qty=" + product_qty, function(res){
                    console.log(res)
                });
            }
            calcular_total();
        });

        $("#invitados").on("change", function(){
            calcular_total();
        });

        $(".menu .list-group-item .agregar").on("click", function(){

            let checkbox = $(this).parents(".list-group-item").find(".producto");
            let product_id = checkbox.attr("id");
            if(checkbox.not(":checked"))
            {
                checkbox.prop("checked", true);
            }

            // $(".menu .list-group-item .quitar").removeClass("disabled");
            let prod_qty = $(this).parents(".list-group-item").find(".prod_qty").text();
            prod_qty = parseInt(prod_qty) + 1;
            $(this).parents(".list-group-item").find(".prod_qty").text(prod_qty);
            
            $.getJSON("/compra/qty/" + product_id + "?qty=" + prod_qty, function(res){
                console.log(res)
            });

            calcular_total();
        });

        $(".menu .list-group-item .quitar").on("click", function(){
            
            let checkbox = $(this).parents(".list-group-item").find(".producto");
            let product_id = checkbox.attr("id");
            let prod_qty = $(this).parents(".list-group-item").find(".prod_qty").text();
            
            if (parseInt(prod_qty) > 1)
            {
                prod_qty = parseInt(prod_qty) - 1;
            }
            else
            {
                prod_qty = 0;
                let checkbox = $(this).parents(".list-group-item").find(".producto");
                if(checkbox.is(":checked"))
                {
                    checkbox.prop("checked", false);
                }
                // $(".menu .list-group-item .quitar").addClass("disabled");
            }
            $(this).parents(".list-group-item").find(".prod_qty").text(prod_qty);
            
            $.getJSON("/compra/qty/" + product_id + "?qty=" + prod_qty, function(res){
                console.log(res)
            });
            
            calcular_total();
        });

        $(".confirmar").on("click", function() {
            calcular_total(function(){
                let invitados = $("#invitados").val();                
                $.getJSON("/compra/reservar/{{data.id}}/", {"invitados" : invitados}, function(res){
                    if(res.success)
                    {
                        location.href="/compra/";
                    }
                })
            }) 
        });

        let today = moment().format("YYYY-MM-DD h:mm");
        $("#fecha_reserva").val(today);

        $('#stars').on('starrr:change', function(e, value) {
            $('#count').html(value);
            $("#puntuacion").val(value);
            debugger
            let newcomment = $("#newcomment").val()
            if (newcomment != "" && value != undefined) {
                $(".guardar_comentario").removeClass("disabled");
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });
        
        $('#stars-existing').on('starrr:change', function(e, value) {
            $('#count-existing').html(value);
            $("#puntuacion").val(value);
            debugger
            let newcomment = $("#newcomment").val()
            if (newcomment != "" && value != undefined) {
                $(".guardar_comentario").removeClass("disabled");
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });

        $("#newcomment").on("keyup", function() {

            let comentario = $(this).val()
            let puntuacion = $("#puntuacion").val()
            if (comentario != "" && puntuacion != "") {
                $(".guardar_comentario").removeClass("disabled")
            } else {
                $(".guardar_comentario").addClass("disabled");
            }
        });

        $(".agregar_carrito").on("click", function(e) {
            e.preventDefault()
            let url = $(this).attr("href");
            console.log(url)
            $.getJSON(url, function(res) {
                console.log(res)
                if (res.success) {
                    actualizar_carrito(res.qty);
                    if (confirm("El producto se ha agregado al carrito, ¿deseas ir a pagar?")) {
                        location.href = "/carrito";
                    }
                }
            })
        })

    });
</script>

{% endblock %}