{% extends 'web/__base.html' %}
{% block content %}
<div class="container-fluid">	
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Lugares </h5>
			</div>
			<div class="card-text">
				{% if data and not request.user.is_staff %}
				
				<!-- <span class="text-muted">Limite de registros alcanzados</span> -->

				{% else %}
				
				<a href="{% url 'lugar_nuevo' %}" class="btn btn-danger">
					<i class="glyphicon glyphicon-plus"></i>
					Nuevo Registro
				</a>
				
				{% endif %}
				<hr>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Descripcion</th>
								<th>Categoria</th>
								<th>Zona</th>						
								<th>Usuario</th>
								<th></th>						
							</tr>
						</thead>
						<tbody>
							{% for row in data %}
							<tr>				
							<td><a href="{% url 'lugar_editar' row.id %}">
							{{ row.name }}</a></td>
							<td>{{ row.description }}</td>
							<td>{{ row.category }}</td>
							<td> {{ row.zone }}</td>
							<td> {{ row.user }}</td>
							<td>
								{% if request.user.is_staff %}
									<a href="{% url 'generar_cobranza' row.id %}" class="btn btn-success"> Generar Cobranza </a>
								{% endif %}
							</td>
							{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		
</div>

{% endblock %}