{% extends 'web/__base.html' %}
{% load humanize %}
{% block content %}

<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">

						<div class="row">
							<div class="col">
								<a href="{% url 'pedidos' %}">Ver Pedidos</a>
								<h1>Pedido #{{ order.name }} </h1>
								<p class="text-muted">
									Fecha: {{ order.fecha_pedido }} {{ order.hora_pedido }} | 
									<span class="badge badge-warning"> {{ order.lugar.name }}</span> | 
									<span class="badge badge-success">{{ order.status_entrega_txt }}</span> |
									<b class="text-info"> Invitados: {{ order.invitados }} </b>|
									<!-- <b class="text-success"> Subtotal: ${{ order.subtotal }} </b>|
									<b class="text-danger"> Cupon: -${{ order.cupon }} </b>|
									<b class="text-success"> Total: ${{ order.total }} </b> -->
								</p>
								<hr>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<table class="table">
									<thead>
										<th></th>
										<th>Producto</th>
										<th>Precio</th>
										<th>Cantidad</th>
										<th>Subtotal</th>
									</thead>
									<tbody>
									{% for line in order.lines %}
										
										<tr>
											<td width="10%;">
												{% if line.producto.photo %}
												<a class="picture" href="{{ line.producto.photo.url }}">
												<img src="{{ line.producto.photo.url }}" alt="{{ line.producto }}" style="width:100%;"></a>
												{% endif %}
											</td>
											<td>{{ line.producto }}</td>
											<td>${{ line.producto.price|floatformat:2|intcomma }}</td>
											<td>{{ line.quantity }}</td>
											<td>${{ line.subtotal|floatformat:2|intcomma }}</td>
										</tr>
					
									{% endfor %}					
									</tbody>
								</table>
							</div>
						</div>
						<hr>
						<div class="row">							
							<div class="col-12">						
								<div class="row">
									<div class="col-9 text-right text-muted">				
										<h5>Subtotal: </h5>
									</div>
									<div class="col-3 text-left">				
										<h4><span class="txt_subtotal">${{ order.subtotal|floatformat:2|intcomma }}</span> </h4>
									</div>
								</div>
								<div class="row">
									<div class="col-9 text-right text-muted">										
										<h5>Descuento:</h5>
									</div>
									<div class="col-3 text-left">
										{% if order.cupon > 0 %}
										<h4><span class="txt_cupon">-${{order.cupon|floatformat:2|intcomma }}</span> </h4>
										{% else %}
										<h4><span class="txt_cupon">${{order.cupon|floatformat:2|intcomma }}</span> </h4>
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-9 text-right text-muted">				
										<h5>Total: </h5>
									</div>
									<div class="col-3 text-left">				
										<h4><span class="txt_total">${{ order.total|floatformat:2|intcomma }}</span> </h4>
									</div>
								</div>
								<hr>								
							</div>
						</div>
						{% if request.user.is_superuser and request.user.is_staff %}
						<div class="row">
							<div class="col">
								<a class="btn btn-link ver-pago" href="">Ver Info Pago <i class="fas fa-caret-right"></i></a>
							</div>
						</div>
						<div class="row info-pago" style="display:none;">
							<div class="col">
								{% if order.payment_info %}
									{{ order.payment_info }}
								{% else %}
									<p class="text-muted">No hay información de pago</p>
								{% endif %}
							</div>
						</div>
						<hr>
						{% endif %}
						<div class="row" style="display:none;">
							<div class="col text-right text-success">
								<h2>Total: $ {{ order.total }}</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

{% endblock %}
{% block scripts %}
<script>
	$(".ver-pago").on("click", function(e){
		e.preventDefault()
		$(".info-pago").toggle()
	})
</script>
{% endblock %}
