{% extends 'web/__base.html' %}

{% block content %}

<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h5>Mis Pedidos</h5>
					</div>
					<div class="card-text">
						<div class="row">
							<div class="col">
								<table class="table">
									<thead>
										<th>No. Pedido</th>
										<th>Fecha</th>
										<th>Total</th>
										<th>Estatus</th>
										<th></th>
									</thead>
									<tbody>
									{% for order in orders %}
										
										<tr>
											<td>{{ order.name }}</td>
											<td>{{ order.fecha_pedido }}</td>
											<td>{{ order.total }}</td>
											<td>{{ order.state_txt }}</td>
											<td>
												<a href="{% url 'detalle_pedido' order.id %}" class="btn btn-info">
													<i class="fa fa-search"></i>
												</a>
											</td>
										</tr>
					
									{% endfor %}					
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	




{% endblock %}

