{% extends 'web/__base.html' %}
{% block content %}
<div class="container-fluid">
	<br>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<h5>Productos(Listado de Registros)</h5>				
			</div>
			<div class="card-text">
				<a href="{% url 'producto_nuevo' %}" class="btn btn-danger">
					<i class="glyphicon glyphicon-plus"></i>
					Nuevo Registro
				</a>
				<hr>
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Categoria</th>
							<th>Precio</th>					
							<th>Lugar</th>	
							<th>Usuario</th>					
						</tr>
					</thead>
					<tbody>
						{% for row in data %}
						<tr>				
						<td><a href="{% url 'producto_editar' row.id %}">
						{{ row.name }}</a></td>
						<td>{{ row.description }}</td>
						<td>{{ row.category }}</td>
						<td> {{ row.price }}</td>
						<td> {{ row.lugar }}</td>
						<td> {{ row.lugar.user }}</td>
						{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}