{% extends 'base.html' %}
{% load static %}
{% block carousel %}

{% if zona.photo %}

<div class="row">  	
	<div id="PhotosCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">			
			<li data-target="#PhotosCarousel" data-slide-to="0" class="active"></li>
		</ol>
		<div class="carousel-inner">
			
			<div class="carousel-item active">
				<img class="d-block w-100" src="{{ zona.photo.url }}" alt="First slide">
				<div class="carousel-caption d-none d-md-block">	
												 
			  	</div>
			</div>   
			
		</div>
		
		<a class="carousel-control-prev" href="#PhotosCarousel" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#PhotosCarousel" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	</div>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
	
<section>	
	<div class="row">
		<div class="col text-center">
			<h1>{{ zona.name }}</h1>
			<p>
				A continuación encontraras lugares dentro de la {{ zona.name }} de Acapulco
			</p>
			<hr class="divider">
		</div>
	</div>
</section>

<section>
	<div class="row">
		<div class="col-8 offset-2">			
			<div class="row">
				{% for row in data %}
				<div class="col-4">
					<div class="caja">
						<img src="{{ row.photo.url }}" alt="{{ row.name }}">
						<h2><a href="{% url 'lugar' row.id %}">{{ row.name }}</a></h2>
						<a href='{% url "lugares_zona" row.zone.id %}'>{{ row.zone.name }}</a>
						<p class="text-muted">
							{{ row.description }}
						</p>
						<hr>
						<span>Tel. {{ row.phone }}</span>

					</div>					
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

</div>
{% endblock %}